:root{
    ---background: #134074;
    --foreground: #eef4ed;
    --border-color: #0b2545;
}

*, *::before, *::after {

  box-sizing: border-box;

}

a:hover{
    color: brown;
}

.box{
    border: 1px solid black;
}

.title{
    color: red;
}