:root{
    ---background: #134074;
    --foreground: #eef4ed;
    --title-color: #aec3b0;
    --link-color: #aec3b0;
    --push-color: #a0c1d6;
    --border-color: #0b2545;
}

body{
    background-color: var(---background);
}

*, *::before, *::after {

  box-sizing: border-box;

}

.logo{
    width: 250px;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    letter-spacing: -0.015em;
    color: var(--title-color);
}

p{
    color: var(--foreground);
    line-height: 1.6;

}

ul,li{
    color: var(--foreground);
}

table{
    border: 1px solid var(--border-color);
}

thead,tbody{
    color: var(--foreground);
}

form{
    color: var(--border-color);
}

a{
    color: var(--link-color);
    text-decoration: none;
}

a:hover{
    color: brown;
}

a:visited {
    color: var(--push-color);
}

.box{
    border: 1px solid var(--border-color);
}

.title{
    color: var(--title-color);
}